body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: roboto;
}

.big-container{
  background-color: #1F2937;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-image img {
  width: 400px;
  height:auto;
  flex-shrink:0;
}

.header{
  
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 0;
    gap:16px;
    margin-bottom: 100px;
    background-color: #1F2937;
}

.logo{
  font-size:24px;
  color:#F9FAF8;
}

.header a{
  font-size: 18px;
  color:#e5e7eb;

}

.hero{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:40px;
  padding: 50px 0;
  margin-bottom: 100px;
  background-color: #1F2937;

  

}

.hero-text h1{
  flex:1;
  font-size: 48px;
  color:#F9FAF8;
  font-weight: 900;
}

.hero-text p{
  font-size: 18px;
  color:#e5e7eb;
}

.hero button{
  background-color: #3882F6;
  color:#F9FAF8;
  padding:12px;
  border-radius: 10px;
  text-align: center;
  
}

.nav {
  display: flex;
  gap: 16px;
}


.info-cards{
  display:flex;
  flex:1;
  flex-direction: column;
  background-color: white;
}

.info-cards h2{
  font-size:36px;
  color:#1F2937;
  font-weight:900;
  text-align: center;
}

.container{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  align-items:center;
  margin: 50px 0;
  text-align: center;
  gap: 20px;
} 

.card{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.card img{
  width: 150px;
  height:150px;
  margin-bottom: 10px;
  object-fit: cover;

}

.quote{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:50px 100px;
  background-color: #e5e7eb;
}

.quote p{
  font-size:36px;
  font-family: light italic;
  color: #1F2937;
}

.cta{
  display:flex;
  justify-content: space-around;
  align-items:center;
  background-color: #3882F6;
  border-radius:12px;
  padding: 0 100px;
  margin-bottom: 100px;;
}

.cta-text{
  color:white;
  margin:0;

}

.cta button{
  padding:10px 20px;
  background-color: #3882F6;
  color: white;
  border-color: white;
  border-radius: 12px;

}
